export MLFLOW_TRACKING_URI="https://xxx.yz"
export AWS_ACCESS_KEY_ID="xxx"
export AWS_SECRET_ACCESS_KEY="xxx"
export AWS_ARTIFACT_S3_URI="s3://bucket/xxx/"
export BACKEND_STORE_URI="postgresql://xxxx"
export MLFLOW_EXPERIMENT_NAME="foodstuffs-recommendation"
